/* color Top*/

:root {
  --primery-color: #22b3c1;
  --secondery-color: #232223;
  --white-color: #ffffff;
  --text-color: #afafaf;
  --ass-black-color: #2a2a2a;
  --text-champagne-color: #f6eac5;
  --border-color: #eee;
  --france-link-color: #0a58ca;
  --as-backgroud-color: #f7f7f7;
  --icon-backgroud-color: #f0f0f0;
  --cta-border-color: #e0e0e0;
}

/* ////////////////////////////////////// */
/* DEALS HERO SECTION */
/* ////////////////////////////////////// */

.deals-section {
}
.deals-container {
}
.deals-background-img {
  background-image: url(../images/heading-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  padding: 260px 0px 190px 0px;
  text-align: center;
}

.deals-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--white-color);
  text-transform: capitalize;
  margin-bottom: 1.125rem;
}
.deals-big-title {
  font-size: 3.125rem;
  margin-bottom: 1.875rem;
  color: var(--white-color);
  text-transform: capitalize;
  line-height: 3.75rem;
}

.deals-link a:link,
.deals-link a:visited {
  color: var(--white-color);
  margin-bottom: 5px;
}

/* ////////////////////////////////////// */
/* DEALS FORM SECTION */
/* ////////////////////////////////////// */

.form-section {
  padding: 0 12px;
}
.form-container {
  background: var(--primery-color);
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  padding: 35px 60px;
}
.form-title {
  font-size: 20px;
  color: var(--white-color);
  margin: 7px 0px 13px 0px;
}
.main-form {
}
